:root {
	--blue: #ccf3ff;
	--red: #ff0044;
	--deepgrey: #0f0f11;
	--black: black;
	--gray: rgb(89, 89, 89);
	--white: rgb(218, 218, 218);
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: var(--deepgrey);
	}
}

button:disabled,
button[disabled] {
	background-color: transparent;
	color: var(--deepgrey);
}

@media (prefers-color-scheme: light) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: var(--deepgrey);
	}
}
